@use "variables" as v;

form {
    text-align: center;
}

.main-class {
    @include v.flex(column, wrap, center, center);
    /*display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;*/

    .img-contacto {
        @include v.flex(row, nowrap, center, center);
        height: 50vh;
        width: auto;
        /*display: flex;
        justify-content: center;
        align-items: center;*/
    }

    @include v.tablet {
        .img-contacto {
            height: 30vh;
            width: auto;
        }
    }

    @include v.mobile {
        .img-contacto {
            height: 30vh;
            width: auto;
        }
    }

}