@use "variables" as v;

footer {
    height: 10%;
    
    
    @include v.flex(flex-start, nowrap, space-between, center);
    padding: 20px;


    h2 {
        text-align: center;
    }

    .clase-icons {
        @include v.flex(row, nowrap, flex-start, center);
        gap: 12px;
        padding: 0;
        margin: 0;
    }

    .clase-whatsapp {
        @include v.flex(row, nowrap, end, normal);
        position: fixed;
        bottom: 50px;
        right: 50px;
    }

    .logo-wpp {
        width: 4vw;
        height: auto;
    }

    ul {
        list-style: none;
    }

    ul img {
        height: 5vh;
        width: auto;
    }

    li {
        margin: 0 8px;
    }

    //tablet
    @include v.tablet {
        .logo-wpp {
        width: 7vw;
        height: auto;
        }
        li {
        margin: 0 5px;
        }
    }

    //celular
    @include v.mobile {

        @include v.flex(column, nowrap, center, center);

        .logo-wpp {
        width: 12vw;
        height: auto;
        }

        .clase-whatsapp {
            bottom: 35px;
            right: 35px;
        }

        h3 {
            text-align: center;
            margin: 15px 0;
        }
        
    }

    @keyframes scale2 {
        0% {
            scale: 1;
        }

        100% {
            scale: 1.5;
        }
    }

    img:hover {
        animation: scale2 0.5s forwards;
    }
    
}