@use "variables" as v;


main {
    height: 80%;

    p {
        font-size: 20px;
        text-align: center;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: v.$green;
    }

    img {
        height: 30vh;
        width: auto;
    }

    .main-img {
        height: 50vh;
        width: auto;
    }

    .main-class {
        @include v.flex(column, wrap, center, center);
        gap: 50px;
        /*display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;*/
    }

    h2 {
        text-align: center;
    }

    li {
        margin: 0 10px;
    }

    h1 {
        text-align: center;
    }

    //tablet
    @include v.tablet {
        .main-img {
            height: 35vh;
            width: auto;
        }

        h1 {
            font-size: 30px;
        }

        p {
            text-align: center;
        }
    }

    //celular
    @include v.mobile {
        .main-img {
            height: 35vh;
            width: auto;
        }

        h1 {
            font-size: 30px;
        }

        p {
            text-align: center;
        }
    }

}