@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

//variables
$ubuntu: ubuntu;
$azulNoche: #000517;
$silver: #c0c0c0;
$gold: #ffd700;
$green: #008000;

//estilo de pagina
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $ubuntu;
}

//responsive
@mixin tablet {
    @media (min-width: 431px) and (max-width: 800px) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: 320px) and (max-width: 430px) {
        @content;
    }
}

//flex
@mixin flex($fd, $fw, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    flex-wrap: $fw;
    justify-content: $jc;
    align-items: $ai;
}