@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntu;
}

header {
  height: 10%;
  position: sticky;
  top: 0;
  background-color: #000517;
  font-size: 20px;
}
header .inicio {
  height: 15vh;
  width: auto;
}
header .navbar.navbar-expand-lg {
  display: flex;
  flex-direction: default;
  flex-wrap: default;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .navbar-nav .nav-link {
  color: #c0c0c0;
}
header .navbar-nav .nav-link.active {
  color: #ffd700;
}
header ul {
  list-style: none;
}
header .navbar-toggler {
  border: none;
}
header .navbar-toggler-icon {
  filter: brightness(0) invert(1);
}
@media (min-width: 801px) {
  header .collapse.navbar-collapse {
    display: flex;
    flex-direction: default;
    flex-wrap: default;
    justify-content: flex-end;
    align-items: default;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  header .navbar.navbar-expand-lg {
    display: flex;
    flex-direction: row;
    flex-wrap: default;
    justify-content: center;
    align-items: default;
  }
  header .collapse.navbar-collapse {
    flex-basis: 100%;
    display: none;
    text-align: center;
  }
  header .navbar-collapse.show {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  header .navbar-toggler {
    margin-left: auto;
  }
  header .collapsing {
    margin: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: default;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: default;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  header .inicio {
    width: 100%;
  }
  header .navbar-nav {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin: 0;
  }
  header .navbar.navbar-expand-lg {
    display: flex;
    flex-direction: default;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: default;
  }
  header .collapse.navbar-collapse {
    flex-basis: 100%;
    display: none;
    text-align: center;
  }
  header .navbar-collapse.show {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  header .navbar-toggler {
    margin-left: auto;
  }
}
@keyframes scale {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}
header .nav-link:hover {
  animation: scale 0.1s forwards;
  color: #ffd700;
}

footer {
  height: 10%;
  display: flex;
  flex-direction: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
footer h2 {
  text-align: center;
}
footer .clase-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0;
  margin: 0;
}
footer .clase-whatsapp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: normal;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
footer .logo-wpp {
  width: 4vw;
  height: auto;
}
footer ul {
  list-style: none;
}
footer ul img {
  height: 5vh;
  width: auto;
}
footer li {
  margin: 0 8px;
}
@media (min-width: 431px) and (max-width: 800px) {
  footer .logo-wpp {
    width: 7vw;
    height: auto;
  }
  footer li {
    margin: 0 5px;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  footer .logo-wpp {
    width: 12vw;
    height: auto;
  }
  footer .clase-whatsapp {
    bottom: 35px;
    right: 35px;
  }
  footer h3 {
    text-align: center;
    margin: 15px 0;
  }
}
@keyframes scale2 {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}
footer img:hover {
  animation: scale2 0.5s forwards;
}

main p {
  font-size: 20px;
  text-align: center;
  margin: 10px 20px;
}
main ul {
  list-style: none;
}
main a {
  text-decoration: none;
  color: #008000;
}
main img {
  height: 30vh;
  width: auto;
}
main .main-img {
  height: 60vh;
  width: auto;
}
main .main-class {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main h2 {
  text-align: center;
}
main li {
  margin: 0 10px;
}
main h1 {
  text-align: center;
}
@media (min-width: 431px) and (max-width: 800px) {
  main .main-img {
    height: 50vh;
    width: auto;
  }
  main h1 {
    font-size: 30px;
  }
  main p {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  main .main-img {
    height: 35vh;
    width: auto;
  }
  main h1 {
    font-size: 30px;
  }
  main p {
    text-align: center;
    margin: 5px 10px;
  }
}

.container-venta {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.venta {
  width: 100%;
  height: auto;
}

.catalogo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 431px) and (max-width: 800px) {
  .container-venta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .catalogo-img {
    height: 25vh;
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .container-venta {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
}
.sobre-nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.sobre-nosotros img {
  height: 60vh;
  width: auto;
  margin: 20px;
}
@media (min-width: 431px) and (max-width: 800px) {
  .sobre-nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .sobre-nosotros img {
    height: 50vh;
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .sobre-nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .sobre-nosotros img {
    height: 35vh;
    width: auto;
  }
}

form {
  text-align: center;
}

.main-class {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-class p {
  margin: 0 15px 20px 15px;
  text-align: center;
}
.main-class .contacto-contenido {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.main-class .img-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: auto;
  margin: 0 10px;
}
.main-class h1 {
  margin: 10px 0;
}
.main-class h2 {
  margin: 20px 0 0 0;
}
.main-class .btn {
  border-radius: 20px;
  border-color: #000517;
  color: #000517;
  padding: 3px 10px;
  margin: 0 3px;
}
.main-class .btn:hover {
  border-color: #ffd700;
  color: #ffd700;
}
@keyframes scale {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}
.main-class .btn:hover {
  animation: scale 0.1s forwards;
}
@media (min-width: 431px) and (max-width: 800px) {
  .main-class .contacto-contenido {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .main-class .img-contacto {
    height: 40vh;
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .main-class .contacto-contenido {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .main-class .img-contacto {
    height: 30vh;
    width: auto;
  }
}

#mainId .accordion {
  width: 65vw;
  height: auto;
}

/*# sourceMappingURL=estilos.css.map */
