@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*reset de css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ubuntu;
}

p {
    font-size: 20px;
    text-align: center;
}

.inicio {
    height: 15vh;
    width: auto;
}

header {
    height: 10%;
    position: sticky;
    top: 0;
    background-color: rgb(0, 5, 23);
    font-size: 20px;
}

.navbar.navbar-expand-lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main {
    height: 80%;
}

.navbar-nav .nav-link {
    color: silver;
}

.navbar-nav .nav-link.active {
    color: gold;
}

ul {
    list-style: none;
    /*display: flex;
    justify-content: space-around;*/
}

a {
    text-decoration: none;
    color: green;
}

img {
    height: 30vh;
    width: auto;
}

ul img {
    height: 5vh;
    width: auto;
}

footer {
    height: 10%;
}

h2 {
    text-align: center;
}

h3 {
    margin-left: 75%;
}

.main-img {
    height: 50vh;
    width: auto;
}

.clase-icons {
    display: flex;
    justify-content:flex-start;
}

.clase-whatsapp {
    display: flex;
    justify-items: end;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.logo-wpp {
    width: 10vh;
    height: auto;
}

li{
    margin: 0 10px;
}

.main-class {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container-venta {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.venta {
    width: 100%;
    height: auto;
}

.catalogo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-contacto {
    height: 50vh;
    width: auto;
}

.navbar-toggler {
    border: none; 
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

/* unicamente version de escritorio */
@media (min-width: 801px){
    .collapse.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}
}

/*tablet*/
@media (min-width: 431px) and (max-width: 800px){
    .container-venta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.main-img {
    height: 35vh;
    width: auto;
}

h1 {
    font-size: 30px;
}

p {
    text-align: center;
}

.catalogo-img {
    height: 25vh;
    width: auto;
}

.img-contacto {
    height: 30vh;
    width: auto;
}

h3 {
    margin-left: 60%;
}

.navbar.navbar-expand-lg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.collapse.navbar-collapse{
    flex-basis: 100%;
    display: none;
    text-align: center;
}

.navbar-collapse.show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.navbar-toggler {
    margin-left: auto;
}

.collapsing {
    margin: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

}



/*celular*/
@media (min-width: 320px) and (max-width: 430px){
    .container-venta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.inicio{
    width: 100%;
}

.navbar-nav {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.main-img {
    height: 35vh;
    width: auto;
}

h1 {
    font-size: 30px;
}

p {
    text-align: center;
}

.catalogo-img {
    height: 25vh;
    width: auto;
}

.img-contacto {
    height: 30vh;
    width: auto;
}

h3 {
    margin-left: 60%;
}

.navbar.navbar-expand-lg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.collapse.navbar-collapse{
    flex-basis: 100%;
    display: none;
    text-align: center;
}

.navbar-collapse.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.navbar-toggler {
    margin-left: auto;
}
}